<a href="https://colab.research.google.com/github/aasim-syed/New-2/blob/master/IPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as py
from google.colab import files
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=("20,10")

In [6]:
upload = files.upload()

Saving Ball_by_Ball.csv.csv to Ball_by_Ball.csv.csv
Saving Match.csv.csv to Match.csv.csv
Saving Player.csv.csv to Player.csv.csv
Saving Player_Match.csv.csv to Player_Match.csv.csv
Saving Season.csv.csv to Season.csv.csv
Saving Team.csv.csv to Team.csv.csv

In [12]:
df1 = pd.read_csv('Player.csv.csv')
df1 = pd.read_csv('Match.csv.csv')
df1.head()

   Match_Id Match_Date  Team_Name_Id  ...  Second_Umpire_Id   City_Name Host_Country
0    335987  18-Apr-08             2  ...               477   Bangalore        India
1    335988  19-Apr-08             4  ...               487  Chandigarh        India
2    335989  19-Apr-08             6  ...               512       Delhi        India
3    335990  20-Apr-08             7  ...               476      Mumbai        India
4    335991  20-Apr-08             1  ...               486     Kolkata        India

[5 rows x 19 columns]

In [13]:
df1.shape

(577, 19)

In [14]:
df1.groupby('Win_Type')['Win_Type'].agg('count')

Win_Type
No Result       3
Tie             6
by runs       261
by wickets    307
Name: Win_Type, dtype: int64

In [15]:
df2 = df1.drop(['Won_By','Match_Winner_Id' ,'Man_Of_The_Match_Id','First_Umpire_Id','Second_Umpire_Id'],axis = 'columns')
df2.head

<bound method NDFrame.head of      Match_Id Match_Date  Team_Name_Id  ...    Win_Type   City_Name Host_Country
0      335987  18-Apr-08             2  ...     by runs   Bangalore        India
1      335988  19-Apr-08             4  ...     by runs  Chandigarh        India
2      335989  19-Apr-08             6  ...  by wickets       Delhi        India
3      335990  20-Apr-08             7  ...  by wickets      Mumbai        India
4      335991  20-Apr-08             1  ...  by wickets     Kolkata        India
..        ...        ...           ...  ...         ...         ...          ...
572    981016  22-May-16             6  ...  by wickets      Raipur        India
573    981018  24-May-16            13  ...  by wickets   Bangalore        India
574    981020  25-May-16            11  ...     by runs       Delhi        India
575    981022  27-May-16            13  ...  by wickets       Delhi        India
576    981024  29-May-16             2  ...     by runs   Bangalore        India

[577 rows x 14 columns]>