<a href="https://colab.research.google.com/github/aasim-syed/New-2/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from google.colab import files
from matplotlib import pyplot as py
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=("20,10")
to your notebook, and run it in a new code cell.
from sklearn.ensemble import RandomForestClassifier

In [4]:
upload = files.upload()

Saving train.csv to train.csv
Saving test.csv to test.csv
Saving gender_submission.csv to gender_submission.csv

In [10]:
df1 = pd.read_csv('train.csv')
df2 = pd.read_csv('gender_submission.csv')
df3 = pd.read_csv('test.csv')

df1.head()
df2.head()
df3.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [12]:
df1.shape

(891, 12)

In [20]:
women = df1.loc[df1.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [21]:
men = df1.loc[df1.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [24]:
from sklearn.ensemble import RandomForestClassifier
y = df1["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(df1[features])
X_test = pd.get_dummies(df3[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': df3.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!